.git
.env
output/*
tmp/*
src/assets/*
src/letter.md
src/resume.md
src/resume-en.md
src/resume-de.md

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.DS_Store
.smbdelete*
./*.smbdelete*
